<div>
  <header class="animated fadeIn">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('images/slide1.jpg');">
          <div class="carousel-caption d-none d-md-block">
            <h3>Invente</h3>
            <p>As invenções não acabaram.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('images/slide2.jpg');">
          <div class="carousel-caption d-none d-md-block">
            <h3>Crie</h3>
            <p>Faça o não feito.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('images/slide3.jpg');">
          <div class="carousel-caption d-none d-md-block">
            <h3>Melhore</h3>
            <p>Simplifique, Atualize, Agilize.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>    
  </header>
  <section class="py-5">
    <div class="container">
      <h1>Mostra de Educação Profissional - mostra</h1>
      <p>A Mostra de Educação Profissional - mostra é um espaço que tem por objetivo contribuir com a melhoria da qualidade da educação,ao incentivar a produção e a socialização do conhecimento, a troca de informações, a integração das comunidades escolares e a valorização da escola pública.</p>
      <h2>Sistema de Divulgação e Avaliação para a mostra</h1>
      <p>Atualmente, a interação do público com a tecnologia passou a ser vista como necessidade, algo que tempos atrás era considerado futilidade ou algo apenas para lazer. Pensando nisso, este trabalho irá apresentar o desenvolvimento de um software para a Mostra de Escolas Profissionais (mostra), afim de agilizar no processo de avaliação e de inscrição de projetos e avaliadores, levando em consideração a sustentabilidade, pois há um gasto excessivo de folhas para as fichas de avaliação, inscrição, relatórios, entre outros. Também visa disponibilizar um local próprio para divulgação da Mostra, com informações sobre a mesma e divulgação de trabalhos premiados. Para otimizar essa organização, o software possibilita o administrador vizualizar cadastros de projetos e avaliadores, registro de notas, gerar ranking final e a divulgação da premiação dos projetos por eixo tecnológico, além de oferecer maior segurança dos dados.</p>
    
    </div>
  </section>
</div>