<section class="py-5 mt-5 animated fadeIn">
    <div class="container">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>New Project</h3>
                </div>
            </div>
            <div class="form-bottom">
                <form name="myForm" ng-submit="newProject()" role="form">
                    <div class="mt-3">
                        <div class="tab-pane tab-content" >

                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" name="projectname" placeholder="Project Name" class="form-control" ng-model="projectname" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Description</label>
                                <input type="text" name="projectdescription" placeholder="Project Description" class="form-control" ng-model="projectdescription" required>
                            </div>

                        </div>


                    <div class="form-group">
                        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
                        <a href="#!">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>