<section class="py-5 mt-5 animated fadeIn">
    <div class="container">
        <h1 class="my-4">Participe!</h1>

        <div class="container-fluid">
            <computer></computer>       
                 
            <div class="col-lg-12">
                <p>
                <a ng-click="page.setPage(0)" href="#!signup" class="btn btn-sq-lg btn-success">
                    <i class="fa fa-user fa-5x"></i><br/>
                    Seja um<br>Participante
                </a>
                <a ng-click="page.setPage(0)" href="#!avaliador" class="btn btn-sq-lg btn-info">
                    <i class="fa fa-user fa-5x"></i><br/>
                    Seja um <br>Avaliador
                </a>
                <a ng-click="page.setPage(0)" href="#!colaborador" class="btn btn-sq-lg btn-warning">
                    <i class="fa fa-user fa-5x"></i><br/>
                    Seja um <br>Colaborador
                </a>
                </p>
            </div>
        </div>
    </div>
</section>