<div class="input-group" id="searchbar" ng-init="visivel = false">
    <input type="text" class="form-control" placeholder="Procure por projetos..." />
    <div class="input-group-btn">
        <div class="btn-group">
                <button class="btn btn-default" type="button" ng-click="visivel = !visivel"><i class="fa fa-caret-down"></i></button>
            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>

<div class="form-control row" ng-show="visivel" id="dropsearch">           
    <div class="col-lg-8">
        <label class="sr-only" for="form-eixo">Eixo Tecnológico</label>
        <select 
            name="eixo"
            ng-model="selectedEixo" 
            ng-options="eixo.nome for eixo in eixos"
            class="form-control" >
            <option value="" disabled selected>Eixo Tecnológico</option>
        </select>  
    </div>
    <div class="btn-group col-lg-8">
        <button type="button" class="btn btn-success" data-target="premiados">Premiados</button>
        <button type="button" class="btn btn-danger" data-target="naopremiados">Não Premiados</button>
        <button type="button" class="btn btn-default" data-target="all">Todos</button>
    </div>
</div>