<section class="py-5 mt-5 animated fadeIn">
    <div class="container">
        <h1 class="my-4">Regras</h1>
        <img class="img-fluid animated fadeInUp" max-width="300px" src="./images/regras.png">
        <h3 class="my-4">Participantes podem ser penalizados!</h3>
        <p>Muitas Feiras ou Mostras tem sua próprias regras e normas, e devem ser seguidas por todos os participantes, avaliadores e visitante. então por este motivo esta página varia de acordo com o evento como todo o software que pode funcionar como Template para outros softwares, com Front-end e Back-end. </p>
    </div>
</section>