<section class="py-5 mt-5 animated fadeIn">
    <div class="container">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Cadastre-se agora!</h3>
                </div>
            </div>
            <div class="form-bottom">
                <form name="myForm" ng-submit="signup()" role="form">
                    <!--checkbox-->
                    <div class="form-group mt-3">
                        <div class="checkbox">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" ng-model="representa">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Eu represento um Projeto!</span>
                            </label>
                        </div>
                    </div>
                    <div ng-show="representa" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Importante!</strong>
                        <p>
                            Para inscrição de projetos na mostra é necessário submeter 
                            alguns documentos. (Ver 'Dados de Projeto' abaixo)
                        </p>
                    </div>

                    <ul class="nav nav-tabs" id="dadosDeCadastroNavTab" role="tablist">
                        <li class="nav-item">
                            <a  id="tabUsuario" 
                                class="nav-link active"
                                ng-click="setAba(1)"
                                data-toggle="tab" 
                                role="tab" 
                                aria-controls="dadosUsuario">
                                    Dados do Usuário
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  id="tabProjeto" 
                                class="nav-link" 
                                ng-show="representa"
                                ng-click="setAba(2)"
                                data-toggle="tab" 
                                role="tab" 
                                aria-controls="dadosProjeto">
                                    Dados do Projeto
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  id="tabAutorUm" 
                                class="nav-link" 
                                ng-show="representa"
                                ng-click="setAba(3)"
                                data-toggle="tab" 
                                role="tab" 
                                aria-controls="dadosAutorUm">
                                    Dados do Autor(1)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  id="tabAutorDois" 
                                class="nav-link" 
                                ng-show="representa && (autores == 'dois' || autores == 'tres')"
                                ng-click="setAba(4)"
                                data-toggle="tab" 
                                role="tab" 
                                aria-controls="dadosAutorDois">
                                    Dados do Autor(2)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  id="tabAutorTres" 
                                class="nav-link" 
                                ng-show="representa && autores == 'tres'"
                                ng-click="setAba(5)"
                                data-toggle="tab" 
                                role="tab" 
                                aria-controls="dadosAutorTres">
                                    Dados do Autor(3)
                            </a>
                        </li>
                    </ul>

                    <div class="mt-3">
                        <div class="tab-pane tab-content" id="dadosUsuario" role="tabpanel" ng-show="isSet(1)">
                            <!-- Example file upload - START -->
                            <div class="fileUpload btn btn-primary">
                                <span>Fazer Upload de imagem<i class="fa fa-cloud-upload " aria-hidden="true"></i></span>
                                <label class="sr-only" for="file">selecionar arquivo</label>
                                <input type="file" ng-file-select="onFileSelect($files)" class="upload" ng-model="imageSrc">
                            </div>
    
                            <img style="max-width:250px; max-height:250px;" ng-src="{{imageSrc}}" />
                            <!-- Example file upload - END -->

                            <div class="form-group">
                                <label class="sr-only" for="form-username">Usuário</label>
                                <input type="text" name="username" placeholder="Nome de Usuário" class="form-control" ng-model="username" required>
                                <div class="help-block" ng-show="form.username.$dirty && form.username.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Nome de Usuário é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-name">Nome</label>
                                <input type="text" name="name" placeholder="Nome" class="form-control" ng-model="name" required>
                                <div class="help-block" ng-show="form.name.$dirty && form.name.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Nome é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-emailaddress">Email</label>
                                <input type="email" name="emailaddress" placeholder="Email" class="form-control" ng-model="emailaddress" required>
                                <div class="help-block" ng-show="form.emailaddress.$dirty && form.emailaddress.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Email é necessário</div>
                                </div>
                            </div>
                            <!--senha-->
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Senha</label>
                                <input type="password" name="password" placeholder="Senha" class="form-control" ng-model="password" required>
                                <div class="help-block" ng-show="form.password.$dirty && form.password.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Senha é necessária</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-repeat-password">Senha</label>
                                <input type="password" name="password2" placeholder="Repita a Senha" class="form-control" ng-model="password2" required>
                                <div class="help-block" ng-show="form.password2.$dirty && form.password2.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Senha é necessária</div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="isSet(2) && representa" class="tab-pane tab-content" id="dadosProjeto" role="tabpanel">
                            <!--inputs para projeto-->
                            <div class="form-group">
                                <label class="sr-only" for="form-razao">Nome do Projeto</label>
                                <input type="text" name="projectname" placeholder="Nome do Projeto" class="form-control" ng-model="projectname" ng-required="representa">
                                <div class="help-block" ng-show="form.projectname.$dirty && form.projectname.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Nome do Projeto é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-eixo">Eixo Tecnológico</label>
                                <select 
                                    name="eixo"
                                    ng-model="selectedEixo" 
                                    ng-options="eixo.nome for eixo in eixos"
                                    class="form-control" >
                                    <option value="" disabled selected>Eixo Tecnológico</option>
                                </select>
                                <div class="help-block" ng-show="form.eixo.$dirty && form.eixo.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Eixo Tecnológico é necessário</div>
                                </div>
                            </div>
                        <div class="bg-info" style="color:aliceblue; border-radius: 5px">
                                <div class="form-group mt-3">
                                    <div class="btn-group" data-toggle="buttons">
                                            <h3>Número de Autores:</h3>
                                        <label class="radio">
                                            <input type="radio" value="um" ng-model="autores">1
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="dois" ng-model="autores">2
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="tres" ng-model="autores">3
                                        </label>                                                                            
                                    </div>
                                </div>
                            <!--radiobtns autores-->
                        </div>                                
                            <div class="form-group">
                                <label class="sr-only" for="form-createdOn">Data de Criação</label>
                                <input 
                                    id="createdOn" 
                                    type="text" 
                                    name="createdOn" 
                                    placeholder="Data de Criação" 
                                    class="form-control" 
                                    ng-model="createdOn" 
                                    ng-required="representa"
                                    mask="99/99/9999"
                                    onpaste="return false;"
                                />
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Data de Criação é necessária</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-phone">Data de Criação</label>
                                <input 
                                    id="phone" 
                                    type="text" 
                                    name="phone" 
                                    placeholder="Celular para contato" 
                                    class="form-control" 
                                    ng-model="phone" 
                                    ng-required="representa"
                                    mask="(99) 999999999"
                                    onpaste="return false;"
                                />
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Telefone é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-school">Escola Origem</label>
                                <input 
                                    id="school" 
                                    type="text" 
                                    name="school" 
                                    placeholder="Escola Origem" 
                                    class="form-control" 
                                    ng-model="school" 
                                    ng-required="representa"
                                />
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Escola Origem é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-address">Endereço</label>
                                <input 
                                    id="address" 
                                    type="text" 
                                    name="address" 
                                    placeholder="Endereço (Rua / Avenida)" 
                                    class="form-control" 
                                    ng-model="address" 
                                    ng-required="representa"
                                />
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Endereço é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-estado">Estado</label>
                                <select 
                                    name="estado"
                                    ng-model="selectedState" 
                                    ng-options="estado.nome for estado in estados"
                                    class="form-control" >
                                    <option value="" disabled selected>Estado</option>
                                </select>
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Estado é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-cidade">Cidade</label>
                                <select 
                                    name="cidade"
                                    ng-model="selectedCity" 
                                    ng-options="cidade for cidade in cidades"
                                    class="form-control" >
                                    <option value="" disabled selected>Cidade</option>
                                </select>
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Cidade é necessário</div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="isSet(3) && representa" class="tab-pane tab-content" id="dadosAutorUm" role="tabpanel">
                            <div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-autor1">Nome do Autor(1)</label>
                                    <input type="text" name="nomeautor1" placeholder="Nome do Autor(1)" class="form-control" ng-model="nomeautor1" ng-required="representa">
                                    <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                        <div class="alert alert-danger mt-1" ng-message="required">Nome do Autor é necessário</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-CPF">CPF do Autor(1)</label>
                                    <input 
                                        id="CPF" 
                                        type="text" 
                                        name="CPF1" 
                                        placeholder="CPF do Autor(1)" 
                                        class="form-control" 
                                        ng-model="CPF" 
                                        ng-required="representa"
                                        mask="999.999.999-99"
                                        onpaste="return false;"
                                        />
                                    <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                        <div class="alert alert-danger mt-1" ng-message="required">CPF é necessário</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="isSet(4) && representa" class="tab-pane tab-content" id="dadosAutorDois" role="tabpanel">
                            <div ng-show="autores == 'dois' || autores == 'tres'">
                                <div class="form-group">
                                    <label class="sr-only" for="form-autor1">Nome do Autor(2)</label>
                                    <input type="text" name="nomeautor2" placeholder="Nome do Autor(2)" class="form-control" ng-model="nomeautor2" ng-required="representa">
                                    <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                        <div class="alert alert-danger mt-1" ng-message="required">Nome do Autor é necessário</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-CPF">CPF do Autor(2)</label>
                                    <input 
                                        id="CPF" 
                                        type="text" 
                                        name="CPF2" 
                                        placeholder="CPF do Autor(2)" 
                                        class="form-control" 
                                        ng-model="CPF2" 
                                        ng-required="representa"
                                        mask="999.999.999-99"
                                        onpaste="return false;"
                                        />
                                    <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                        <div class="alert alert-danger mt-1" ng-message="required">CPF é necessário</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="isSet(5) && representa" class="tab-pane tab-content" id="dadosAutorTres" role="tabpanel">
                            <div ng-show="autores == 'tres'">
                                <div class="form-group">
                                    <label class="sr-only" for="form-autor1">Nome do Autor(3)</label>
                                    <input type="text" name="nomeautor3" placeholder="Nome do Autor(3)" class="form-control" ng-model="nomeautor3" ng-required="representa">
                                    <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                        <div class="alert alert-danger mt-1" ng-message="required">Nome do Autor é necessário</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-CPF">CPF do Autor(3)</label>
                                    <input 
                                        id="CPF" 
                                        type="text" 
                                        name="CPF3" 
                                        placeholder="CPF do Autor(3)" 
                                        class="form-control" 
                                        ng-model="CPF3" 
                                        ng-required="representa"
                                        mask="999.999.999-99"
                                        onpaste="return false;"
                                        />
                                    <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                        <div class="alert alert-danger mt-1" ng-message="required">CPF é necessário</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" ng-disabled="myForm.$invalid || dataLoading" class="btn btn-primary">Cadastre-me!</button>
                        <img ng-if="dataLoading" src="../images/loading.gif" />
                        <a href="#!">Cancelar</a>
                    </div>
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</section>