<section class="py-5 mt-5 animated fadeIn">
        <div class="container">
            <h1 class="my-4">Nossa Equipe</h1>
            <img class="img-fluid animated fadeInUp" width="100%" src="images/chalila.jpg">
            <h3 class="my-4">Nossa História</h3>
            <p>Tudo começou em julho de 2017, quando começamos a trabalhar em cima do projeto, que decidimos posteriormente ser um site. Nós estávamos entre quatro integrantes, Eric Farias, João Vitor Fernandes, Luccas Marques e Mateus Abdala. Chegou o dia de nos inscrevermos na mostra e torcer para que aceitassem nosso projeto, então veio uma notícia ruim, só poderiam ser inscritos 3 participantes, decidimos então nos dividir. dois apresentariam o projeto principal e os outros dois um projeto secundário, foram 3 longos dias, até fomos presenteados com duas premiações, os dois trabalhos foram premiados no núcleo, sendo este com o primeiro lugar, seguimos aprimorando o projeto, até que recebemos a feliz notícia de que nosso projeto foi o escolhido para ser apresentado na MOSTRATEC.</p>
        </div>
        <div class="container-fluid divautores">
            <div class="row">
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/mateus.jpeg" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Visitante <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div>
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/luccas.jpeg" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Participante <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div>
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/joao.jpeg" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Avaliador <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div>
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/eric.jpeg" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Administrador <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="container">
            <h4 class="my-4">Nossa História</h4>
            <p></p>  
        </div>
</section>