<section class="py-5 mt-5 animated fadeIn">
        <div class="container">
            <h1 class="my-4">Sobre</h1>
            <img class="img-fluid animated fadeInUp" max-width="400px" src="./images/logo.png">
            <h3 class="my-4">O Software</h3>
            <p>Muitas Feiras ou Mostras não tem acesso a divulgação de modo geral, e necessitam de público, avaliadores e participantes para se manterem em atividade. A maioria das mostras não tem divulgação suficiente, e muito menos um sistema de gestão da mesma. Todos os processos nestas mostras são feitos manualmente como inscrição, avaliação até a divulgação que na maioria das vezes é feita oralmente.</p>
            <p>Foi desenvolvido um software Open Source para a divulgação de projetos de mostras e para uso como ferramenta de gestão online. Também pode se consultar todas os projetos cadastrados, podendo filtrar por eixo, assim usuários encontram projetos próximos a sua escolha de interesse e visualiza seus dados detalhados com opção de entrar em contato com os autores.</p>
            <p>O Software foi desenvolvido com uso de Node.js e MongoDB no back-end onde cada funcionalidade é exposta como um micro serviço REST. No front-end o framework JavaScript escolhido foi Angular.js utilizando de templates disponíveis através do também framework JavaScript, Bootstrap pois responsividade é disponibilizada out-of-the-box.</p>
        </div>
        <div class="container-fluid divautores">
            <div class="row">
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/visitante.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Visitante <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div>
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/participante.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Participante <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div>
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/avaliador.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Avaliador <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div>
                <div class="profile-header-container col-lg-3 col-md-4 col-sm-6 mt-3">   
                    <div class="profile-header-img">
                        <img class="rounded-circle" src="images/administrador.png" />
                        <!-- badge -->
                        <div class="rank-label-container">
                            <button class="label rank-label">Administrador <br><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="container">
            <h4 class="my-4">Nossa História</h4>
            <p></p>  
        </div>
</section>